<article class="relative w-full aspect-3/4 rounded-lg overflow-hidden">

  <img
    src="assets/placeholder.png"
    alt="Carousel item image"
    class="absolute inset-0 w-full h-full object-cover"
  >

  <!--
    Gradient overlay: content-driven height (no fixed value)
    naturally produce the right visual in theory. TO ASK: would we prefer fixed height?
    Or maybe it's better to let the content dictate the height?
    Maybe it depends on whether we truncate the text or not.
  -->
  <div class="absolute bottom-0 inset-x-0 [background:var(--gradient-overlay)] p-4 flex flex-col">

    <div class="flex flex-col gap-2">
      <h3 class="text-heading-article-lg font-bold text-white">
        Lorem ipsum
      </h3>
      <p class="text-body text-white">
        Lorem ipsum dolor sit amet consectetur.
      </p>
    </div>

    <!--
      The figma says this frame is 49px high (73px in md) but pt-6 (pt-12 in md)
      shakes out to 48px (72px in md).
      So I'm making an executive decision to be fine with being 1px off.
      In a real work environment I'd just ask the design team.
    -->
    <a href="#" class="pt-6 md:pt-12 flex items-center gap-1 text-body font-bold text-white rounded-sm focus-visible:outline-2 focus-visible:outline-white focus-visible:outline-offset-2">
      Lorem ipsum
      <img src="icons/Download Minimalistic.svg" alt="" aria-hidden="true" class="w-6 h-6 shrink-0">
    </a>

  </div>

</article>
